.git
.github
.vscode
node_modules
vendor
.env
.env.backup
.env.example
.phpunit.result.cache
tests
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
docker-compose.yml
docker-compose.prod.yml
README.md
Dockerfile
.dockerignore
